GUINEE</option>
<option value="IVA">AMBANJA(IVA), MADAGASCAR</option>
<option value="ATF">AMBATO(ATF), EQUATEUR</option>
<option value="AHY">AMBATOLAHY(AHY), MADAGASCAR</option>
<option value="AMY">AMBATOMAINTY(AMY), MADAGASCAR</option>
<option value="WAM">AMBATONDRAZAKA(WAM), MADAGASCAR</option>
<option value="AMB">AMBILOBE(AMB), MADAGASCAR</option>
<option value="ABL">AMBLER/ALASKA(ABL), ETATS-UNIS</option>
<option value="AMG">AMBOIN(AMG), PAPOUASIE-NOUVELLE-GUINEE</option>
<option value="AZZ">AMBRIZ/BENGO(AZZ), ANGOLA</option>
<option value="AUJ">AMBUNTI/SEPIK ORIENTAL(AUJ), PAPOUASIE-NOUVELLE-GUINEE</option>
<option value="AMC">AMCHITKA/AM TIMAN(AMC), TCHAD</option>
<option value="AHT">AMCHITKA/ILES ALEOUTIENNES ALASKA(AHT), ETATS-UNIS</option>
<option value="AMV">AMDERMA/NENETSIE(AMV), RUSSIE</option>
<option value="AHC">AMEDEE/HERLONG/CALIFORNIE(AHC), ETATS-UNIS</option>
<option value="RCN">AMERICAN RIVER(RCN), AUSTRALIE</option>
<option value="QYM">AMERSFOORT(QYM), PAYS-BAS</option>
<option value="AHH">AMERY/COMTE DE POLK/WISCONSIN(AHH), ETATS-UNIS</option>
<option value="AMW">AMES/IOWA(AMW), ETATS-UNIS</option>
<option value="QAM">AMIENS(QAM), FRANCE</option>
<option value="AYZ">AMITYVILLE/NEW YORK(AYZ), ETATS-UNIS</option>
<option value="AMX">AMMAROO(AMX), AUSTRALIE</option>
<option value="AOS">AMOOK BAY/ALASKA(AOS), ETATS-UNIS</option>
<option value="YEY">AMOS(YEY), CANADA</option>
<option value="AMP">AMPANIHY(AMP), MADAGASCAR</option>
<option value="AMS">AMSTERDAM-SCHIPHOL(AMS), PAYS-BAS</option>
<option value="SPL">AMSTERDAM(SPL), PAYS-BAS</option>
<option value="AAA">ANAA(AAA), POLYNESIE FRANCAISE</option>
<option value="AAO">ANACO/ETAT D'ANZOATEGUI(AAO), VENEZUELA</option>
<opti